html {
    height: 100%;
}
body {
    background-image: url('../imagenes/patron200.png');
    background-repeat: repeat;
}

main{
    padding-bottom: 80px;
}

#content {
    margin: 0 auto;
    width: 90%;
    background-color: skyblue;
    min-height: 25vh;
    margin-bottom: 100px;
    border-left: 5px solid #333;
    border-right: 5px solid #333;
}

.btn-selected {
    background-color: #333;
    color: red;
}

.header-content {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

h1 {
    color: #333;
    padding: 0.9% 0 0.8% 0.9%;
    font-size: 5em;
    letter-spacing: -0.03em;
    font-weight: bolder;
    text-align: center;
}

nav {
    background-color: darkgrey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.titulo-buscador {
    display: flex;
    justify-content: space-between; /* Alinea el título a la izquierda y el input a la derecha */
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #ddd;
}

#buscador {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}

.hover{
    background-color: #4c7094;
    border: 2px dashed #007bff; 
}