.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.d-flex {
  margin: 0 auto;
  width: 90%;
  background-color: skyblue;
  min-height: 100vh;
  min-width: 40vh;
  margin-bottom: 68px;
  border-left: 5px solid #333;
  border-right: 5px solid #333;
  border-bottom: 5px solid #333;
  border-top: 5px solid #333;
  padding-bottom: 10px;
}

.d-flex1 {
  margin: 0 auto;
  width: 90%;
  background-color: skyblue;
  min-height: 24vh;
  min-width: 40vh;
  margin-bottom: 68px;
  border-left: 5px solid #333;
  border-right: 5px solid #333;
  border-bottom: 5px solid #333;
  border-top: 5px solid #333;
  padding-bottom: 10px;
}

.item-list-row {
  margin: 0 auto;
  border-top: #333;
  border-left: #333;
  border-bottom: #333;
  border-right: #333; 
}

footer {
  background-color: #333;   
  color: white;
  text-align: center;
  padding: 10px;
  left: 0;
  right: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

.hover{
  background-color: #4c7094;
  border: 2px dashed #007bff; 
}

body {
  background-image: url('imagenes/patron200.png');
  background-repeat: repeat;
}

#mi-file-uploader > div  {
  border: 2px dashed rgb(4, 8, 235) !important;
}

#mi-file-uploader svg path {  /* Ajusta las clases según lo que veas en DevTools */
  fill: #ffffff !important;  /* Rojo de Bootstrap */
  stroke: rgb(4, 8, 235) !important; /* Si usa bordes */
}

/*  INTENTO DE ESTIRAR EL DRAG AND DROP AREA  
#mi-file-uploader > label {
  width: 100% !important;
  display: block !important;
  border: 2px dashed #0658C2;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  background-color: #f8f9fa;
}

#mi-file-uploader > label > div {
  width: 100% !important;
  display: block !important;
}

#mi-file-uploader svg {
  display: block;
  margin: 0 auto 10px auto;
}

*/
